.shop__container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  /* margin-left: 100px; */
  gap: 10px;
  padding: 0px 40px;
}

.products__container {
  width: 990px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin-top: 120px;
}

.cart__container {
  /* height: 944px; */
  height: 43vw;
  background-color: #ffe0b3;
  padding: 40px 20px;
  position: sticky;
  top: 80px;
}

.children__button{
  width: 100%;
  border: none;
  color: #fff;
  background-color: #FF9900;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  transition: .5s;
  cursor: pointer;
}

.children__button:hover{
  background-color: #e09524;
}

.children__btn__icon{
  margin-left: 5px;
  font-size: 17px;
}