.form__container {
  width: 500px;
  height: 600px;
  background: #ffffff;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  margin: 10px auto;
}

.form__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  letter-spacing: 0.0025em;
  color: #2a414f;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 32px;
}

.form {
  padding: 0px 35px;
}

.form__control {
  margin-bottom: 20px;
}

.form__control label {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.0015em;
  color: #2a414f;
  margin-bottom: 10px;
}

.form__control input {
  width: 415px;
  height: 55px;
  border: 1px solid #95a0a7;
  border-radius: 5px;
  margin-top: 10px;
  padding: 0px 10px;
  font-size: 18px;
}

.submit__btn {
  width: 415px;
  height: 55px;
  background: rgba(255, 153, 0, 0.3);
  border-radius: 5px;
  border: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;
  color: #0e161a;
  cursor: pointer;
  transition: 0.6s;
  margin-bottom: 10px;
}

.submit__btn:hover {
  background: rgba(255, 153, 0, 0.6);
}

.form__container p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.0025em;
  color: #2a414f;
  text-align: center;
}

.form__container a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.0025em;
  color: #ff9900;
  text-decoration: none;
}

.form__container a:hover {
  text-decoration: underline;
}

.google__link {
  padding: 0px 35px;
  margin-top: 30px;
  width: 415px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid rgba(149, 160, 167, 1);
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: .6s;
}

.google__link:hover{
    background-color: rgba(149, 160, 167, 1);
}

.google__logo {
  width: 32px;
  height: 32px;
}

.google__logo img {
  width: 100%;
}
